.market {
    height: 25em;
    width: 30em;

    .content {
        display: flex;
        flex-direction: row;
    }
}

.market-uneven {
    height: 25em;
    width: 30em;
    rotate:180deg;

    .content {
        display: flex;
        flex-direction: row;
    }
}